//- nav#gnb
//- div&attributes({
//- 	'id'    : 'gnb',
//- 	'class' : [],
//- 	'role'  : 'navigation'
//- })
nav#gnb
	+navigation([
		{'href': '/',            'content': 'Home'   },
		//- {'href': 'about.html',   'content': 'About'  },
		//- {'href': 'works.html',   'content': 'Works'  },
		//- {'href': 'contact.html', 'content': 'Contact'  },
	])