@charset "utf-8";
/*! style.css © yamoo9.net, 2015 */

// * --------------------------------
// * 모듈 호출
// * --------------------------------
@import "yamoo9/yamoo9";

html {
	@extend %font-smoothing;
}

body {
	@extend %reset-body;
	// 중첩 속성
	margin: {
		top: 100px;
		bottom: 80px;
	}
	font: {
		family: 'Nanum Gothic', Dotum, Sans-Serif;
		size: 14px;
		weight: 100;
		style: normal;
	}
}

// 중첩 규칙
nav,
div[role=navigation]{
	ul,
	ol {
		// 스타일 모듈 상속: 대체 선택자(%)
		@extend %reset-list;
	}
}