// * --------------------------------
// * BUTTON CLASS

%button {

	$bg-color: #EAE6DF !default;

	@include contrast-color($bg-color);
	display:    inline-block;
	border:     1px solid;
	padding:    0.3em 0.8em;
	text-align: center;
}