@mixin font-face(
	$font-name     : Dotum,
	$font-url-eot  : '', // IE 전용 (비표준)
	$font-url-woff : ''  // WOFF (표준)
) {
	@font-face {
		font-family: $font-name;
		src:         url($font-url-eot);
		src:         local(※), url($font-url-woff) format("woff");
		font-weight: normal;
		font-style:  normal;
	}
}