extends part/_page_template

block header
	header
		.container
			// Bank Wallet
			h1#logo-bank-wallet
			// kakao
			h2#logo-kakao

		#banner
			a.btn-prev(href="", role="button")
			a.btn-next(href="", role="button")
			h3.headline

block gnb

block main

block footer