extends part/_page_template

block main
	main
		p 야무 한글 로렘입숨 로렘입숨이란? 디자인을 위한 더미 텍스트!. 땀 햇볕처럼, 숨 죽여도 어디에나, 청춘의 사명으로 않고 꽃처럼!
		p 너, 하루를 눈부신 그대 다 들리는. 아름답다 꽃처럼 청춘의 피어나는, 꽃보다 실수조차도 빛나는.
		p 꽃처럼 그대 거추장스런 사명으로 쿵쿵대는 청춘의 햇볕처럼 땀 소리 청춘 아름다운 실수조차도.
		p 젊음의 씩씩하게 아름답다 사명으로 그대 고동소리 청춘 너야말로 설레게 쉬지 운동화도, 거추장스런.
		p 가슴을 너 눈부신 고동소리 해도 하고 장엄한 너야말로 빛나는 찬란한 설레게 땀.
		p 티셔츠 숨 죽여도 숨소리가 하루를 심장 어디에나 거추장스런 쿵쿵대는 해도 내일의 실수조차도 설레게!
		p 않고 청춘 하고 아름다운 꽃보다 엮어가는 고동소리 너 하루를 설레는 다 들리는 숨 죽여도.
		p 숨 죽여도 만들 흐르는 어디에나 그대 피어나는 너야말로 운동화도 거추장스런 청춘아! 엮어가는 하고.
