extends part/_page_template

block header
	//- header#page-header(role="banner")
	//- 	h1 Page Header

	header
		.logo
		.utils
		.search
			.front
			.back

block gnb
	//- nav#gnb(role="navigation")
	//- 	h2 Global NavigationBar

	nav

block main

	main


	aside
		//- ul.gallery
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/1/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/2/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/3/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/10/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/5/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/6/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/7/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/8/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/9/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/1/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/2/Dummy-Text/", alt="sports")
		//- 	li
		//- 		img(src="http://lorempixel.com/400/400/sports/3/Dummy-Text/", alt="sports")

	//- main#page-main(role="main")
	//- 	//- h2 Main Contents
	//- 	.news
	//- 		h3 news
	//- 		.post
	//- 			| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	//- 		.post
	//- 		.post
	//- 		.post
	//- 	.showcase
	//- 		h4 showcase

block footer

	footer

	//- footer#page-footer(role="contentinfo")
	//- 	h3 Page Footer
