extends part/_page_template

block header
	header#page-header(role="banner")
		h1 Page Header

block gnb
	nav#gnb(role="navigation")
		h2 Global NavigationBar

block main
	main#page-main(role="main")
		//- h2 Main Contents
		.news
			h3 news
		.showcase
			h4 showcase

block footer
	footer#page-footer(role="contentinfo")
		h3 Page Footer
