extends part/_page_template

// _page_template의 block 설정된 식별자 코드를 덮어쓰기

block stylesheets
	link(rel="stylesheet", href="css/sass-lecture/04-interporation.css")

block header

block gnb

block main

	section

		article.post-1
			h3 Works
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, enim!

		article.post-2
			h3 Lecture
			p consectetur adipisicing elit. Dolores, enim! Lorem ipsum dolor sit amet.

		article.post-3
			h3 Food
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, enim!

		article.post-4
			h3 Feshion
			p consectetur adipisicing elit. Dolores, enim! Lorem ipsum dolor sit amet.

		article.post-5
			h3 Reading
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, enim!

		article.post-6
			h3 Running
			p consectetur adipisicing elit. Dolores, enim! Lorem ipsum dolor sit amet.