extends part/_page_template

append settings

	- var page_title       = 'Works < ★ Jade & Sass Project ★'
	- var isMain           = !true
	- var current_page     = 'works.html'
	- var using_jquery     = true
	- var using_angular    = true
	- var meta_description = 'Works... I\'m so Sad ㅠㅡㅠ'
	- var meta_keywords    = 'Development, Development, Development, Oops...'

	- var body_classlist   = ['works']
	- var greeting         = 'Ra! Ra! Ra! ★'
	- var server_module    = 'Hey!! Boy!!'