// * --------------------------------
// * 연산(Operation)

@if type-of('80temp') != 'number' {
	@debug true;
} @else {
	@debug false;
}

// * --------------------------------
// * Sass 리스트 함수
// 		length($list)
// 		nth($list, $index)
// 		join($list1, $list2[, $seperator: 'comma', 'auto', 'space'])
// 		append($list, $value, [, $seperator: 'comma', 'auto', 'space'])
// 		index($list, $value)
// * --------------------------------

@mixin fallback-color ($color, $alpha: 1, $prop: 'background') {
	@if type-of($color) != 'color' {
		@error "전달된 인자는 컬러 유형의 값이 아닙니다.";
	}
	#{$prop}: $color;
	#{$prop}: if($alpha != 1, rgba($color, $alpha), null);
}

#app {
	header {
		@include fallback-color(#3A0099 + #111, 0.9);
	}
	main {
		@include fallback-color(#3A0099 - #212300);
	}
	footer {
		@include fallback-color(#3A0099, 0.5, 'color');
	}
}

@function _hsla($hex, $alpha: 1) {
	@if type-of($hex) != 'color' {
		@error "전달인자를 제대로 확인하세요 :-(";
	}
	$h: hue($hex);
	$s: saturation($hex);
	$l: lightness($hex);
	@return unquote("hsla(#{$h}, #{$s}, #{$l}, #{$alpha})");
}

body {
	color: _hsla(#333, 0.7);
	background: _hsla(#046380, 0.45);
}

@import "../bourbon/bourbon";

@include selection {
	background-color: #ffbb52;
	color: darken(#ffbb52, 45%);
}

aside .banner {
	@include selection {
		background: #B64926;
		color: tint(#B64926, 34%);
	};
}


$box-base-color: #B4B4B4 !default;

%box {
	display: inline-block;
}

@mixin box-appearance ($box-base-color, $rounded: null) {
    text-shadow: 0px -1px darken($box-base-color, 20%);
    border: 1px solid darken($box-base-color, 40%);
    box-shadow: inset 0px 0px 3px lighten($box-base-color, 25%);
    border-radius: $rounded;
}


.red-box {
	$box-base-color: #EE3C46;
	@extend %box;
	@include size(120px 48px);
	@include box-appearance($box-base-color, 50%);
	background: rgba($box-base-color, 0.8);
}

.green-box {
	$box-base-color: #38EECA;
	@extend %box;
	@include size(220px 65px);
	@include box-appearance($box-base-color);
	background: rgba( $box-base-color , 0.8);
}

.blue-box {
	$box-base-color: #2F68EA;
	@extend %box;
	@include size(420px 100px);
	@include box-appearance($box-base-color, 15%);
	background: rgba( $box-base-color , 0.8);
}


@include keyframes(fade-in-color) {
	from {
		background: fade-out(#434433, 0.9);
	}
	to {
		background: fade-in(#434433, 1);
	}
}


@function unless($condition, $if-false, $if-true) {
	@return if($condition, $if-true, $if-false);
}

// if(조건, 참, 거짓)
// unlesss(조건, 거짓, 참)
