// * --------------------------------
// * 정보통신 접근성을 위한 대체 선택자 CLASS

%hidden {
	display: none !important;
}

%invisible {
	visibility: hidden;
}

// 화면에 감춰지지만, 읽혀지는 접근성 감춤 처리
%a11y-hidden {
	overflow: hidden;
	position: absolute;
	clip:     rect(0 0 0 0);
	clip:     rect(0,0,0,0);
	width:    1px;
	height:   1px;
	margin:   -1px;
	padding:  0;
	border:   0;

	// 포커스 처리 시 화면에 보여짐.
	&%focusable:focus,
	&%focusable:active {
		overflow: visible;
		position: static;
		clip:     auto;
		width:    auto;
		height:   auto;
		margin:   0;
	}
}